
		body{
            background-image: url(https://png.pngtree.com/background/20230411/original/pngtree-wall-wooden-background-picture-image_2389229.jpg); 
        }
        .fondo{
            background-color: white ;
            width: 800px;
            margin: 0px 0px 0px 250px 
        }
        .fondo_rojo{
            background-color: red;
            width: 200px;
            color: white;
            margin-left: 300px;
        }
        .letra{
            font-family: cursive;
        }
